<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2"><span class="logo-rails">Rails</span><span class="logo-blog">Blog</span></h1>
    <p class="lead">It's in the name, a blog developed with Ruby on Rails.</p>
  </div>
</div>