.card {
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #0af;
	height: 450px;
	margin-bottom: 20px;
}

img {
	height: 200px;
	width: 100%;
	background-size: cover;
	background-position: center;
}