.jumbotron {
	height: 500px;
	min-height: 600px;
	letter-spacing: 2px;
  background-image: url('https://images.pexels.com/photos/425/apple-iphone-desk-office.jpg?w=1260&h=750&auto=compress&cs=tinysrgb');
  background-color: #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: #000 1px 1px 5px;
}

