    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="/"><span class="logo-rails">Rails</span><span class="logo-blog">Blog</span></a>
      <button class="navbar-toggler hidden-lg-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
      <div class="collapse navbar-toggleable-md" id="navbarResponsive">           
        <ul class="nav navbar-nav float-md-right">
          <li class="nav-item active">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>          
      </div>
    </nav>